@(title: String, contacts: List[Contact], contactForm: Form[String])

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main(title){


    <h1>Contact</h1>

    <div style="float:left;">
        @form(routes.Application.newContact) {

            @inputText(contactForm("name"))
            @inputText(contactForm("email"))
            @inputText(contactForm("message"))

            <input type="submit" value="Create">

        }
    </div>

    <div style="float:right;">

        <p>@Messages("contact.name")</p>
        <p>@Messages("contact.title")</p>
        <p>@Messages("contact.company")</p>
        <p><a href="mailto:@Messages("contact.email")">@Messages("contact.email")</a></p>
        <p><a href="@Messages("contact.linkedIn")" target="_blank">@Messages("contact.linkedin")</a></p>

    </div>

    <div style="clear:both;"></div>

}