@(text: Text, message: String)

@main(text) {
    <div ng-app>
        <h1>Welcome to Scala Play + Bootstrap + AngularJS</h1>
        <main role="main">
            <div class="main-group">
                <label for="sometext">Type in some text:</label>
                <input id="sometext" class="main-control" ng-model="sometext" autofocus>
            </div>
        </main>
        <div class="alert alert-success" ng-show="sometext">
            <strong>You typed:</strong> {{ sometext }}
        </div>
    </div>
}