@(title: String)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>@title</title>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>

        <script src="@routes.Assets.versioned("javascripts/vendor/react/react.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/react/react.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/react/react-dom.js")"></script>
        <script type="text/babel" src="@routes.Assets.versioned("javascripts/hello_again.js")"></script>
        <script type="text/babel" src="@routes.Assets.versioned("javascripts/react_components.js")"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>

    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <div id="example"></div>
                <div id="content"></div>
                <div id="content2"></div>
                <div id="content3"></div>
                <div id="content4"></div>
            </div>

            <p><a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a></p>
        </div>
    </body>
</html>